{
  "singleQuote": true,
  "printWidth": 80,
  "importOrder": [
    "^[./]",
    "~/common|~/utils",
    "~/designs|~/components|~/containers",
    "~/hooks|~/store",
    "~/module|~/types",
    "~/services"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
